name: Build and Push Docker Image

on:
  push:
  pull_request:

env:
  DOCKER_REPO: stepcue

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Extract branch name
      shell: bash
      run: |
        if [[ "${GITHUB_REF}" == "refs/heads/"* ]]; then
          echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
        elif [[ "${GITHUB_REF}" == "refs/pull/"* ]]; then
          echo "BRANCH_NAME=pr-${GITHUB_REF#refs/pull/}" >> $GITHUB_ENV
          echo "BRANCH_NAME=${BRANCH_NAME%/*}" >> $GITHUB_ENV
        else
          echo "BRANCH_NAME=${GITHUB_REF}" >> $GITHUB_ENV
        fi
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
    
    - name: Run unit tests
      run: dotnet test --configuration Release --verbosity normal
      
    - name: Build Docker image
      run: |
        docker build -t newimage .
    
    - name: Login to Docker Hub and Push
      if: github.event_name != 'pull_request'
      run: |
        docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }} docker.io
        if [[ "${{ env.BRANCH_NAME }}" == "main" ]]; then
          docker image tag newimage ${{ secrets.DOCKER_USER }}/${{ env.DOCKER_REPO }}:latest
          docker image tag newimage ${{ secrets.DOCKER_USER }}/${{ env.DOCKER_REPO }}:v${{ github.run_number }}
        else
          docker image tag newimage ${{ secrets.DOCKER_USER }}/${{ env.DOCKER_REPO }}:${{ env.BRANCH_NAME }}-latest
          docker image tag newimage ${{ secrets.DOCKER_USER }}/${{ env.DOCKER_REPO }}:${{ env.BRANCH_NAME }}-v${{ github.run_number }}
        fi
        docker image push --all-tags ${{ secrets.DOCKER_USER }}/${{ env.DOCKER_REPO }}
